body {
    background-image: url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 100vh;
    font-family: Nunito Sans;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 20px;

}

#increment-btn {
    background: orange;
}

#save-btn {
    background: #1EAB01;
}

.content{
    max-width: 80%;
    max-height: 50%;
    margin: 45%  auto;
    background-color: slateblue;
    padding: 10px;
    border: solid white;
    border-radius: 10px;

}